nav.navbar.navbar-dark.bg-dark.sticky-top
  .container-fluid.d-flex.justify-content-between.align-items-center
    h1.navbar-brand.mb-0.h1 CuTePi
    .btn-group
      button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#uploadModal") Upload
      button.btn.btn-danger(data-bs-toggle="modal" data-bs-target="#ytdlModal")
        i.bi.bi-youtube
    include mediainfo.pug
    include mediacontrols.pug
