doctype html
html
  head
    meta(charset='UTF-8')
    title Control Centre - CuTePi

    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap@5.3.3.css')
    link(rel='stylesheet', href='/css/bootstrap-icons@1.11.3.css')
  body(data-bs-theme="dark")
    include header.pug
    .container-fluid.mt-3
      .row.gx-3
        .col-md-3.d-flex.flex-column.overflow-auto(style="max-height: 90svh;")
          include mediapool.pug
        .col-md-9.overflow-auto(style="max-height: 90svh;")
          include cuesheet.pug

    include uploadModal.pug
    include ytdlModal.pug

    script(src='/src/htmx.org@2.0.3')
    script(src='/src/bootstrap@5.3.3.js')
    script(src='/src/ui.js')
