//div(hx-get="/api/progress" hx-trigger="every 50ms" hx-swap="innerHTML")
  | 0:00.00/0:00.00  -0:00.00
#esc(hx-trigger="esc" hx-post="/api/stop" hx-target="#cuesheet" hx-swap="innerHTML" style="display: none;")
//div#escDbl(hx-trigger="escDbl" hx-post="/api/panic" hx-target="#cuesheet" hx-swap="innerHTML")
.d-flex.gap-2
  button.btn.btn-lg.btn-success(hx-post="/api/play")
    i.bi.bi-play-fill
  .btn-group
    button.btn.btn-sm.btn-secondary(hx-post="/api/togglePause") pause
    button.btn.btn-sm.btn-danger(hx-post="/api/stop") stop
    button.btn.btn-sm.btn-primary(hx-post="/api/prev") prev
    button.btn.btn-sm.btn-primary(hx-post="/api/next") next
    button.btn.btn-sm.btn-danger(hx-post="/api/panic") panic
    button.btn.btn-sm.btn-warning(hx-post="/api/fadeOut") fadeOut

  .btn-group
    button.btn.btn-sm.btn-danger(hx-post="/api/test") Show Test
    button.btn.btn-sm.btn-danger.dropdown-toggle(
    data-bs-toggle="dropdown" aria-expanded="false"
    )
    ul.dropdown-menu
      li
        button.dropdown-item
          i.bi.bi-person-video2
          |&nbsp;Tests
      li
        button.dropdown-item
          i.bi.bi-gear-fill
          |&nbsp;Settings
      li
        button.dropdown-item
          i.bi.bi-arrow-clockwise
          |&nbsp;Restart
      li
        button.dropdown-item
          i.bi.bi-power
          |&nbsp;Shutdown
