doctype html
html
  head
    meta(charset='UTF-8')
    title Upload - CuTePi

    link(rel='stylesheet', href='/css/index.css')
  body
    section#upload
      include dropzone.pug
    section#youtube
      include youtube.pug

    script(src='/src/htmx.org@2.0.3')
