{{ define "mediacontrols.html" }}

<div id="esc" hx-trigger="esc" hx-post="/api/stop" hx-swap="none" style="display: none;"></div>
<div class="d-flex is-gap-xs">
  <div class="btn-group">
    <button class="btn ftl-btn-sm ftl-btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="Menu" aria-label="Menu"></button>
     <ul class="dropdown-menu dropdown-menu-end">
      <li>
        <button class="dropdown-item" hx-post="/api/panic" hx-swap="none" hx-confirm="PANIC: cut playback now?" type="button">
          <svg class="ftl-icon -exclamation-triangle-fill"><use href="/ftl/assets/icons/icons.svg#icon-warning"/></svg>&nbsp;Panic
        </button>
      </li>
      <li>
        <button class="dropdown-item" hx-post="/api/stop" hx-swap="none" type="button">
          <svg class="ftl-icon -stop-fill"><use href="/ftl/assets/icons/icons.svg#icon-stop"/></svg>&nbsp;Stop
        </button>
      </li>
      <li>
        <button class="dropdown-item" hx-post="/api/fadeOut" hx-swap="none" type="button">
          <svg class="ftl-icon -brightness-low-fill"><use href="/ftl/assets/icons/icons.svg#icon-sun-low"/></svg>&nbsp;Fade out
        </button>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" href="/api/show/export">
          <svg class="ftl-icon -box-arrow-down"><use href="/ftl/assets/icons/icons.svg#icon-download"/></svg>&nbsp;Export show (.CTP)
        </a>
      </li>
      <li>
        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#showModal" type="button">
          <svg class="ftl-icon -box-arrow-up"><use href="/ftl/assets/icons/icons.svg#icon-upload"/></svg>&nbsp;Import show (.CTP)
        </button>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logsModal" title="View logs" aria-label="View logs" type="button">
          <svg class="ftl-icon -terminal"><use href="/ftl/assets/icons/icons.svg#icon-terminal"/></svg>&nbsp;Logs
        </button>
      </li>
      <li>
        <button class="dropdown-item" hx-post="/api/restart" hx-swap="none" hx-confirm="Restart the CuTePi server?" type="button">
          <svg class="ftl-icon -arrow-clockwise"><use href="/ftl/assets/icons/icons.svg#icon-refresh"/></svg>&nbsp;Restart
        </button>
      </li>
      <li>
        <button class="dropdown-item" hx-post="/api/shutdown" hx-swap="none" hx-confirm="Shut down the CuTePi server?" type="button">
          <svg class="ftl-icon -power"><use href="/ftl/assets/icons/icons.svg#icon-power"/></svg>&nbsp;Shutdown
        </button>
      </li>
    </ul>
  </div>
</div>

{{ end }}
