{{ define "topbar.html" }}

<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <h1 class="navbar-brand mb-0 h1">CuTePi</h1>
    <div class="btn-group">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">Upload</button>
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ytdlModal">
        <i class="bi bi-youtube"></i>
      </button>
    </div>
    {{ template "mediainfo.html" }}
    {{ template "mediacontrols.html" }}
  </div>
</nav>

{{ end }}
