{{ define "uploadModal.html" }}

<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="uploadModalLabel">Upload</h1>
        <a class="btn btn-lg" href="/upload">
          <svg class="ftl-icon"><use href="/ftl/assets/icons/icons.svg#icon-logout"/></svg>
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="dropform">
        <div class="modal-body">
          <div id="dropzone">
            <input
              id="file-input"
              type="file"
              name="media"
              multiple
              hidden
            />
            <label for="file-input">
              <strong>Choose a file</strong>
              <span class="dragndrop"> or drag it here</span>
            </label>
          </div>
          <ul id="filelist"></ul>
          <progress id="progress" value="0" max="100" hidden></progress>
          <div id="upload-status" class="small" role="status" aria-live="polite"></div>
        </div>
        <div class="modal-footer">
          <button id="upload" class="btn ftl-btn-primary" type="submit">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/src/dropzone.js"></script>

{{ end }}
